[Unit]
Description=TDLAS CF-WMS Service
After=network.target syslog.target mysql.service
Conflicts=getty@tty2.service

[Service]
Type=simple
WorkingDirectory=/opt/tdlas
ExecStart=/opt/tdlas/cfwms
KillSignal=SIGINT
SendSIGKILL=no
Restart=on-failure
RestartSec=5s

StandardOutput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target 
