[Unit]
Description=TDLAS DAS Service
After=network.target syslog.service mariadb.service

[Service]
Type=simple
WorkingDirectory=/opt/tdlas
ExecStart=/opt/tdlas/das
KillSignal=SIGINT
SendSIGKILL=no
Restart=on-failure
RestartSec=5s
StandardOutput=tty
TTYPath=/dev/tty2

[Install]
WantedBy=multi-user.target 
