[Unit]
Description=TDLAS Dashboard Service
After=network.target tdlas.service
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/opt/tdlas
ExecStart=/opt/tdlas/run_dashboard
KillSignal=SIGINT
SendSIGKILL=no
Restart=on-failure

StandardInput=tty
StandardOutput=tty
StandardError=journal+console
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target 
